2ndflowdotglow
[{"id":"4898d64d.68dac8","type":"inject","z":"c5ca7e75.e6b31","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":292,"y":173.36000061035156,"wires":[["1fb366ad.d5c261","2bb57a65.a34082"]]},{"id":"1fb366ad.d5c261","type":"debug","z":"c5ca7e75.e6b31","name":"","active":true,"console":"false","complete":"false","x":590,"y":140,"wires":[]},{"id":"2bb57a65.a34082","type":"debug","z":"c5ca7e75.e6b31","name":"","active":true,"console":"false","complete":"false","x":590,"y":240,"wires":[]}]
